* {
    box-sizing: border-box;
}

body {
    color: white;
    /* background-color: black; */
}

/* Header Styles */
header {
    position: fixed;
    font-family: 'Comforter', cursive;
    transition: ease .5s;
}

header h1{
    font-size: 96px;
    font-weight: 400;
    position: absolute;
    bottom: 500px;
    left: 100px;
    opacity: 0.8;
}

header h2{
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    bottom: 512px;
    left: 440px;  
    opacity: 0.5;
}

header p{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 550px;
    left: 200px;  
    font-family: 'Nunito', sans-serif;
    width: 500px;
}


#line1{
    height: 1px;
    width: 175px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    bottom: 579px;
    left: 20px; 
}

#line2{
    height: 1px;
    width: 55px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    bottom: 579px;
    left: 387px; 
}

.opening {
    display: block;
    width: 100vw;
    height: 100vh;
    border-bottom: solid 5px white;
}
/* End Header Styles */



/* Main Styles */
main {
    width: 28vw;
    padding: 20px;
    background-color: #0D122C;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
}

section {
    height:  100vh;
}

p {
    line-height: 1.5em;
}

#sect1 {
    position: relative;
    margin-top: 140px;
}

#sect1 h1 {
    position: absolute;
    top: 185px;
    font-family: 'Comforter', cursive;
    color: #F1AA20;
    font-size: 70px;
    font-weight: 400;
} 

#sect1 h2 {
    position: absolute;
    top: 213px;
    left: 250px;
    font-family: 'Comforter', cursive;
    color: #F1AA20;
    font-size: 55px;
    opacity: .64;
    font-weight: 400;
} 

#sect1 h3 {
    position: absolute;
    top: 265px;
    left: 85px;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
}

#thin {
    height: 133px;
    width: 1px;
    background: white;
    opacity: 0.30;
    position: absolute;
    top: 310px;
    left: 88px;
    transition: all 5s ease-in-out;
}

#thin2 {
    height: 194px;
    width: 1px;
    background: white;
    opacity: 0.30;
    position: absolute;
    top: 310px;
    left: 115px;
    transition: all 5s ease-in-out;
}

#thin3 {
    height: 233px;
    width: 1px;
    background: white;
    opacity: 0.30;
    position: absolute;
    top: 310px;
    left: 140px;
    transition: all 5s ease-in-out;
}

.trigger{
    position:absolute;
    top:0px;
    left:0px;
    width:380px;
    height:550px;
    /* background: white;
    opacity: .2; */
}
    
.trigger:hover{
    cursor:pointer;
}

#symbols {
    position: absolute;
    left: 160px;
    top: 390px;
    font-family: 'Nunito', sans-serif;
    color:#FFE1A6;
    opacity: 0.72;
}

.flexy{
    display: flex;
}

.dots{
    margin-top: 5px;
}

.dots2{
    margin-top: 10px;
}

.dots3{
    margin-top: 17px;
}

.new{
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

.friend{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.love{
    font-size: 33px;
    font-weight: 700;
    margin: 0;
}

.story{
    position: relative;
}

.story h1{
    font-size: 24px;
    color: #FFE1A6;
    font-weight: 600;
    opacity: .72;
    position: absolute;
    right: 5px;
    top: -50px;
}

.titleLine {
    width: 384px;
    height: 5px;
    background: #FFE1A6;
    opacity: .30;
    border-radius: 25px;
}

.story h2{
    font-size: 60px;
    font-family: 'Comforter', cursive;
    color: #F1AA20;
    font-weight: 400;
    margin: 10px;
    margin-left: 43px;
}

.story h3{
    font-size: 50px;
    position: absolute;
    top: -15px;
    left: 140px;
    font-family: 'Comforter', cursive;
    color: #F1AA20;
    opacity: .64;
    font-weight: 400;
}

.story p{
    margin-left: 43px;
    margin-right: 10px;
    padding-top: 0;
    font-size: 17px;
    font-weight: 100;
}

.thin {
    height: 133px;
    width: 2px;
    background: white;
    opacity: 0.15;
    position: absolute;
    top: 5px;
    left: 5px; 
    border-radius: 25px; 
}

.thin2 {
    height:194px ;
    width: 2px;
    background: white;
    opacity: 0.15;
    position: absolute;
    top: 5px;
    left: 20px; 
    border-radius: 25px;

}

.thin3 {
    height: 233px;
    width: 2px;
    background: white;
    opacity: 0.15;
    position: absolute;
    top: 5px;
    left: 35px;
    border-radius: 25px;
}

#muse{
    position: absolute;
    top: -15px;
    left: 200px; 
}

#pic {
    position: absolute;
    top: -15px;
    left: 110px; 
}

/* Firgure Styles and Zoom */
figure {
    display: block;
    margin: 10px;
    width: 70vw;
    height: 98vh;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 25px;
}


figure img {
    position: absolute;
    transition: all 3s ease;
}

.sect1{
    width: 150vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sect2,
.sect3,
.sect4,
.sect5,
.sect6{
    width: 3768px;
}

.sect2 {
    top: calc(-1567px + 100vh);
    left: calc(-3568px + 70vw);
}

.sect3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sect4 {
    top: calc(-1767px + 100vh);
    left: calc(-1768px + 70vw);
}

.sect5 {
    top: calc(-2000px + 100vh);
    left: calc(-1100px + 70vw);
}

.sect6 {
    top: calc(-2500px + 100vh);
    left: calc(-2300px + 70vw);
}

/* preloader */

#preloader h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color:#F1AA20;
    opacity: .50;
}

#preloader{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #0D122C;
	color: #fff;
	font-size: 3em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#preloader div:first-of-type {
	margin-bottom: 50px;
}

.fadeout {
	animation-name: fadeout;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.sunset {
    display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.sunset .sun{
    width: 100px;
    height: 100px;
    background:#F1AA20;
    border-radius: 50%;
    border-bottom: #0D122C solid 0px;
    animation: sun 5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes sun{
    from{
        border-bottom: #0D122C solid 0px;
    }
    to{
        border-bottom: #0D122C solid 100px;
    }
}

.sunset .sunback{
    position: absolute;
    top: -10px;
    left: -5px;
    width: 110px;
    height: 110px;
    background:#F1AA20;
    border-radius: 50%;
    opacity: .20;
    border-bottom: #0D122C solid 0px;
    animation: sunback 5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes sunback{
    from{
        border-bottom: #0D122C solid 0px;
    }
    to{
        border-bottom: #0D122C solid 110px;
    }
}

@keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





