main {
    max-width: 1200px;
    min-width: 800px;
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: auto;
    padding-top: 15px;
}

/* Header elements */

header{
    margin: auto;
    position: relative;
    width: 924px;
}

h1{
    font-size: 25px;
    color: white;
    background: #6E66A0;
    border-radius: 30px;
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    margin: auto;
    position: absolute;
    top: 1em;
    left: 20em;
}

/* This id allows me to combine the 3 h2s into one line */
#textline {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    position: absolute;
    top: 4.2em;
    left: 24.5em;
}

h2{
    font-weight: 200;
    font-size: 22px;
    color:#6E66A0;
}

/*Added id so I can make two h2s have different properties */
#bold{
    font-weight: 600;
}

/* Making the background change constantly. Linear gradients are pictures so must increase background size and then move background position in keyframes */

body {
    background: rgb(255,255,255);
    background: linear-gradient(167deg, rgba(255,255,255,1) 1%, rgba(252,252,252,1) 5%, rgba(180,172,233,1) 49%, rgba(211,206,242,1) 65%, rgba(243,241,254,1) 100%);
    background-size: 500%;
    animation: gradient 30s infinite;
    font-family: 'Merriweather Sans', sans-serif;
    word-spacing: 0.15em;
    margin: auto;
    height: 900px;
}

@keyframes gradient {
    0% {background-position: right;}
    50% {background-position: left;}
    100% {background-position: right;}
  }

/* Section elements */

section{
    width: 277px;
    height: 356px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 20%, rgba(180,172,233,1) 100%);
    border-radius: 25px; 
    box-shadow: 0px 4px 11px 0px rgba(105,90,205,1);
    padding-top: .8em;
    color: #6E66A0;
    position: relative;
    transition: 1s ease-in-out;
}

section:hover{
    box-shadow: 0px 4px 11px 0px rgba(255,255,255,1);
    transform: scale(1.1);
}

ul{
    list-style-type: none;
    font-weight: 200;
    font-size: 19px;
    padding-left: 1.5em;
}

li{
    padding-bottom: .5em;
}

a {
    text-decoration: none;
    color: #5F5697;
    padding: 10px;
    padding-top:2px;
    padding-bottom:2px;
}

section a{
    border-radius: 25px;
    transition: 0.2s ease-in-out;
}

section a:hover{
    color: #ffffff;
    background-color: #6E66A0;
}

main h2{
    font-weight: 800;
    font-size: 24px;
    padding-left: 41px;
    text-transform: uppercase;
}

#line{
    height: 3px;
    width: 227px;
    background: #A6A0D2;
    margin: auto;
    margin-top: .4em;
}

/* Makeing bee disappear behind the beehive and reappear on hover command */
/* Still part of section, and need position relative in "section" to go with position absolute in "#bee"*/

#beehive {
    margin-left: 120px;
}

#bee {
    position: absolute;
    top: 9.4em;
    right: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    border: 5em solid transparent;
    border-top: 0;
}

#bee:hover {
    top: 9.4em;
    right: 4.1em; 
    opacity: 100%;
}

@keyframes bee {
    from {
       opacity: 0; 
    }
    to {
      opacity: 1; 
    }
 }

 /* Elements in footer */

footer a{
    font-size: 50px;
    transition: 0.2s ease-in-out
 }

footer a:hover{
    color:white;
}

footer {
    height: 80px;
    text-align: center;
    color:#6E66A0;
    margin-top: 1.5em;
    text-transform: uppercase;
}

footer p {
    font-size: 20px;
    margin: 0;
    font-weight: 800;
}

/* Changing the size of the elements in banner and positioning them */

#banner{
    width: 1100px;
    height: 250px;
    margin-bottom: 2.5em;
    position: relative;
    margin-top: 10px;
}

#poppy {
    filter:drop-shadow(0px 4px 6px #8c86b4);
    position: absolute; 
    top: 4em;
    left: -2em;
    transition: 1s ease-in-out;
}
#poppy:hover{
    transform: scale(1.1);
    filter:drop-shadow(0px 4px 6px #584bb1);
}

#sakura {
    filter:drop-shadow(0px 4px 6px #8c86b4);
    position: absolute;
    top: 1em;
    left: 12em; 
    transition: 1s ease-in-out;
}

#fuchsia {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 11em;
    left: 12em;
    transition: 1s ease-in-out;
}

#iris {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 9em;
    left: 19em;
    transition: 1s ease-in-out;
}

#wheat {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 7.5em;
    left: 26.5em;
    transition: 1s ease-in-out;
}

#daisy {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 14em;
    left: 26em;
    transition: 1s ease-in-out;
}

#baby {
    filter:drop-shadow(0px 4px 6px #8c86b4);
    position: absolute; 
    top: 8em;
    left: 33em;
    transition: 1s ease-in-out;
}

#pansy {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 14.8em;
    left: 42.4em;
    transition: 1s ease-in-out;
}

#leaves {
    filter:drop-shadow(0px 4px 6px #8c86b4); 
    position: absolute;
    top: 7.5em;
    left: 44em;
    transition: 1s ease-in-out;
}

#goldstar {
    filter:drop-shadow(0px 4px 6px #8c86b4);
    position: absolute; 
    top: 12em;
    left: 51.5em;
    transition: 1s ease-in-out;
}

#wishbone {
    filter:drop-shadow(0px 4px 6px #8c86b4);
    position: absolute;
    top: 7.5em;
    left: 55em;
    transition: 1s ease-in-out;
}

#goldstar:hover,
#wishbone:hover,
#leaves:hover,
#pansy:hover,
#baby:hover,
#daisy:hover,
#wheat:hover,
#iris:hover,
#fuchsia:hover,
#sakura:hover{
    transform: scale(1.2);
    filter:drop-shadow(0px 4px 6px #584bb1);
}