body {
    background-color: (214,210,243,1);
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(221,218,245,1) 19%, rgba(214,210,243,1) 35%, rgba(232,230,247,1) 51%, rgba(252,252,252,1) 67%, rgba(232,230,247,1) 80%, rgba(214,210,243,1) 100%);
    width: 100vw;
}

main{
    width: 1200px;
    display: flex;
    margin: auto;
}

#entryContain {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#numContain {
    display: flex;
    flex-direction: column;
}

.entryNum {
    width: 400px;
    position: relative;
    padding-right: 100px;
    padding-top: 200px;
    height:390px;
    position: sticky;
    align-self: flex-start;
    top: 0;
    margin-bottom: 100px;
    transition: all .8s;
}

.entryNum h1 {
    font-family: 'Metal', cursive;
    font-size: 300px;
    font-weight: 100;
    color: #6E66A0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(180,172,233,1) 100%);
    border-radius: 390px;
    width: 340px;
    height: 340px;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    text-shadow: 2px 2px 2px #695acd74;
}

#poppy {
    position: absolute;
    bottom: 0em;
    left: 18em;
}

#baby {
    position: absolute;
    bottom: 2em;
    left: 18em;
}

#sakura {
    position: absolute;
    bottom:0em;
    left: 18em;
}

#pansy {
    position: absolute;
    bottom: 1em;
    left: 16em;
}

#fuchsia {
    position: absolute;
    bottom: -5em;
    left: 16em;
}

figure {
    margin: 0em;
}

.analysisImg img {
    border-radius: 25px;
    margin-bottom: 1em;
    margin-left: 2em;
}

figcaption {
    margin-left: 3.5em;
   margin-bottom: 1em; 
   font-size: 14px;
   font-style: italic;
}

.divider {
    margin: 50px;
    height: 7050px;
    margin-top: 80px;
    width: 5px;
    border-radius: 25px;
    background: #A6A0D2;
    margin-bottom: 100px;
}

.entry {
    width: 500px;
    background: #F3F1FE;
    border-radius: 25px;
    margin-top: 100px;
    padding-top: 1px;
    font-family: 'Open Sans', sans-serif;
    color: #5F5697;
    padding-bottom: 50px;
    filter:drop-shadow(0px 4px 2px #8c86b4)
}

p {
    font-size: 16px;
    line-height: 29px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
}

.date {
   font-size: 20px;
   font-style: italic;
   padding-left: 50px;
   padding-bottom: 10px;
}

.dateAndLine {
    display: flex;
}



.dateLine {
    background: #C7C0F9;
    height: 2px;
    width: 239px;
    margin-left: 10px;
    align-self: center;
}

a {
    color: #5F5697;
    font-style: italic;
}

h1 {
    font-size: 32px;
    width: 420px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 50%,rgba(214,210,243,1) 100%);
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 40px;
}

.title {
    display: flex;
}

.example {
    font-size: 24px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 50%,rgba(214,210,243,1) 100%);
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    margin-left: 30px;
    margin-bottom: 0;
    padding-right: 10px;
}

h3 {
    align-self: end;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 35px;
}