/* Header on the left input page */

body{
    background: rgb(44,74,184);
    background: linear-gradient(180deg, rgba(44,74,184,1) 1%, rgba(14,23,52,1) 100%);
    width: 100vw;
    height: 140vh;
}


header{
    /* from glenda: added relative positioning so that the #trigger could be positioned in relation to its parent */
    position:relative;
    color:white;
    margin: 0px;
    opacity: .8;
}

#uc {
    font-family: 'Cardo', serif;
    font-size: 115px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

#davis {
    font-family: 'Poppins', sans-serif;
    font-size: 110px;
    font-weight:900;
    text-transform: uppercase;
    margin: 0px;
}

.head1 {
    display: flex;
    margin: 0px;
}

#tips {
    font-size: 39px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px;
}

#freshman {
    font-size: 39px;
    font-weight: 100;
    margin: 0px;
}

.head2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 1em;
    margin: 0px;
}

.line {
    background: white;
    width: 82.5px;
    height: 1px;
    align-self: center;
}

/* header output page */

#ucOut {
    font-family: 'Cardo', serif;
    font-size: 83px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    color: #263879;
}

#davisOut {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight:900;
    text-transform: uppercase;
    margin: 0px;
    color: #263879; 
}

#tipsOut {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px;
    color: #263879;
}

#freshmanOut {
    font-size: 32px;
    font-weight: 100;
    margin: 0px;
    color: #263879;
}

.lineOut {
    background: #263879;
    width: 42px;
    height: 1px;
    align-self: center; 
    color: #263879;
}

.head2Out {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: .5em;
    margin: 0px;
    color: #263879;
}

#freshTips {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 37px;
    font-weight: 200;
    margin-top: 50px;
    width: 400px;
    padding: 0px;
}

article {
    padding: 0px;
}

#madlibs {
    background-color: #FDF7E0;
    border: solid 30px #DBAA21;
    border-radius: 61px; 
    width: 380px;
    height: 500px;
    padding: 56px;
    box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.30);
}

#madlibs:hover{
    cursor:pointer;
}

#thickLine {
    width: 329px;
    height: 70px;
    background-color: #ffffff7a;
    border-radius: 25px;
    position: relative;
    top: 20em;
    right: 2em;
    z-index: -1;
}

button {
    width: 231px;
    height: 48px;
    border: solid 5px #DBAA21;
    margin-top: 20px;
    margin-left: 148px;
    border-radius: 25px;
    color: #263879;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 28px;
    padding: 0px;
    text-shadow: 2px 2px 2px #0000001d;
    position: relative;
    top: 11.2em; 
    right: 4em;
}

button:hover {
    transform: scale(1.1);
    cursor:pointer;
}

a {
   text-decoration: none;
   color: #263879;
}

#downArrow {
    color:#DBAA21;
    position: relative;
    top: 3.7em;
    left: 2em;
    font-size: 4em;
}

#turkey {
    margin-right: 5em;
    position: relative;
    top: 17em;
    left: 25em;
    z-index: -1;
    transition: all 2s ease-in-out;
}


/* Form input */

#formsec {
    margin-top: 60px;
}

.input {
    margin: auto;
    display: flex;
    gap: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#wordInput {
    background-color: #DBAA21;
    padding: 35px;
    width: 434px;
    height: 464px;
    border-radius: 66px;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    font-weight: 700;
}

.backbox {
    width: 115px;
    height: 36px;
    background-color: #fdf7e0ba; 
    border-radius: 20px; 
    margin-right: 10px;
    margin-top: 2px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.madlibLine{
    display: flex;
    margin-bottom: 19px;
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 20px;
    color: #263879;
    font-weight: 800;
    text-shadow: 2px 2px 2px #0000001d;
    padding-left: 10px;
}

input {
    width: 254px;
    height: 46px;
    border-radius: 20px;
    background-color: #FDF7E0;
    font-size: 18px;
    font-weight: 200;
    border-style: none;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding-left: 20px;
}

#submit {
    width: 163px;
    height: 48px;
    border: solid 5px #DBAA21;
    margin-top: 20px;
    margin-left: 148px;
    border-radius: 25px;
    color: #263879;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 28px;
    padding: 0px;
    box-shadow: none;
    text-shadow: 2px 2px 2px #0000001d;
}

#wheels{
    display: flex;
}

#wheelL {
    position: relative;
    top: 16.65em;
    left: 4.85em;
}


#trigger{
/* from glenda: added absolute positioning, top and left */
   position:absolute;
   top:180px;
   left:75px;
    width:430px;
    height:250px;
}

#trigger:hover{
    cursor:pointer;
}

/* glenda added */
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#wheelR {
    position: relative;
    top: 16.65em;
    left: 11.25em;
}

#bikeFrame{
    position: relative;
    right: 1em;
}

#submit:hover {
    transform: scale(1.1);
}

#enter {
    display: flex;
}

#rightArrow {
    font-size: 50px;
    color:#DBAA21;
    position: relative;
    bottom: .65em;
    left: .2em;
}

/* Overlay */

.hidden {
    visibility: hidden;
    opacity: 0;
}


.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    color: #263879;
    position: absolute;
    background: linear-gradient(180deg, rgba(44,74,184,1) 1%, rgba(14,23,52,1) 100%);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#flexy {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span{
    opacity: 0;
    transition: all 0.4s ease;
}

span.fade{
    opacity: 1;
}

